/politics.gexf
/reddit_2012/subs_com/
/reddit_2012/subs_post/
/reddit_2012/RC_2012-10
/reddit_2012/RS_2012-10
/reddit_2012/filt_com_dict.pkl
/reddit_2012/filt_post_dict.pkl
/reddit_2012/com_dict.pkl
/reddit_2012/sent_com_dict.pkl
/reddit_2012/post_dict.pkl
/RS_2012-10.bz2
